*/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
.idea
*.project
gen
/.idea/libraries/
/.idea/inspectionProfiles/
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/vcs.xml
target/
*.log
.gitignore
