<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,keywords,description)">
    <meta charset="utf-8">
    <title th:text="${title}">common header</title>
    <meta name="keywords" th:attr="content=${keywords}">
    <meta name="description" th:attr="content=${description}">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- 引入样式文件 -->
    <link rel="stylesheet" th:href="@{/static/mobile/css/weui.css}"/>
    <link rel="stylesheet" th:href="@{/static/mobile/css/weuix.css}"/>
    <script th:src="@{/static/mobile/js/zepto.min.js}"></script>
    <script th:src="@{/static/mobile/js/zepto.weui.js}"></script>
    <script th:src="@{/static/mobile/js/php.js}"></script>
</head>
<body>

</body>
</html>