<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="rank">
        <div class="rank">
            <van-sidebar v-model="rankActive" class="rankMenu" @change="rankActiveChange">
                <van-sidebar-item title="点击榜">
                </van-sidebar-item>
                <van-sidebar-item title="阅读榜"></van-sidebar-item>
                <van-sidebar-item title="收藏榜"></van-sidebar-item>
            </van-sidebar>
            <div class="rankContent" >
                <novel-light
                        :novel="novel"
                        v-for="novel in rankNovels[rankActive]"
                        @click.native="onNovelClick(event,novel)"
                >
                </novel-light>
            </div>
        </div>


    </div>
</body>
</html>